<div class="grey__block-contain">
    <div class="container container-1330">
        <div class="row">
            <div class="col-lg-12">
                <div class="grey__block">
                    <div class="grey__block_info">
                        <h4>About Prepay</h4>
                        <h2>A company<br>of High Quality Tradition</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                            id est laborum.
                        </p>
                    </div>
                    <div class="grey__block_imag" style="background-image: url(../img/our-team-section.jpg);"></div>
                </div>
            </div>
        </div>
    </div>
</div>