<div class="grey__block-contain">
    <div class="container container-1330">
        <div class="row">
            <div class="col-lg-12">
                <div class="grey__block changeling">
                    <div class="grey__block_info">
                        <h4>decades of experince</h4>
                        <h2>A company<br>of High Quality Tradition</h2>
                        <p>
                            CarsHauler is not just a Car Shipping company, it’s a Utopic Realization of the American Dream. Our company provides outstanding and unique services that for years amazed the
                            Americans. The happiness of our customers is our first thought. We are not interested in competing on the market, nor even to deal with the major number of orders: High Quality is
                            our motto. Extreme care of details and originality in each service make CarsHauler one of the most trusted and highly rated auto transport companies recognized NationWide.
                        </p>
                    </div>
                    <div class="grey__block_imag" style="background-image: url(../img/our-team-section.jpg);"></div>
                </div>
            </div>
        </div>
    </div>
</div>