<div class="our_company__section">
    <div class="container border_top">
        <div class="row">
            <div class="col-md-6">
                <div class="our_company__img">
                    <img src="img/our-company.jpg" alt="img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="our_company__text">
                    <h4>Cars Hauler online buy delivery</h4>
                    <h2>Your trusted partner whenever you buy a car online</h2>
                    <p>
                        Whether you are a buyer or a reseller, you can be sure CarsHauler is the company you need. We provide several facilities for car dealers optimizing efficiency and reliability in every
                        service. Our specialized support team is engaged in organizing schedules that best fit our customers' affairs, rending our deliveries transparent and unmistakable at any time. Through
                        the personalized approach we adopt to every enquire, for 6 years CarsHauler amazed the Americans ever once more.
                    </p>
                </div>
                <div class="our_company__link">
                    <div class="step__link_info">
                        <a href="#">
                            <span class="step__link_info-text">
                                Buy Online Tips From CarsHauler
                            </span>
                            <span class="step__link_info-icon">
                                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 9H14" stroke-width="3" stroke-linejoin="round"/>
                                    <path d="M7 2L14 9L7 16" stroke-width="3" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>