<div class="contact__form">
    <div class="contact__form_bgl"></div>
    <div class="contact__form_bgr"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="contact__form_content">
                    <h2 class="form_content_title">Trust your car shipping to a professionals</h2>
                    <p class="form_content_subtitle">You're on the way to the Cars Hauler</p>
                </div>
                <div class="contact_form__connect">
                    <a class="form__meet" href="mailto:krookweb@gmail.com">
                        <span class="form__meet_ico">
                            <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M35 0.5H0V13.9726C0.392836 13.3973 0.839822 12.8553 1.33762 12.355C3.47467 10.2068 6.37311 9 9.39535 9C12.4175 9 15.316 10.2068 17.4531 12.355C19.5901 14.5031 20.7907 17.4166 20.7907 20.4545C20.7907 26.9948 14.6496 32.8491 11.3838 35.5H35V0.5ZM7.40689 35.5C5.32782 33.8124 2.08337 30.8264 0 27.1917V35.5H7.40689ZM9.39535 24.2727C11.4932 24.2727 13.1938 22.5633 13.1938 20.4545C13.1938 18.3458 11.4932 16.6364 9.39535 16.6364C7.29753 16.6364 5.5969 18.3458 5.5969 20.4545C5.5969 22.5633 7.29753 24.2727 9.39535 24.2727Z"/>
                            </svg>
                        </span>
                        <span class="form__meet_addr">
                            <span class="form__meet_addr-form">Email Us</span>
                            <span class="form__meet_addr-text">
                                <span>krookweb@gmail.com</span>
                            </span>
                        </span>
                    </a>
                    <a class="form__call" href="tel:+14163233419">
                        <span class="form__call_ico">
                            <svg width="35" height="36" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M35 0.5H0V10.0001H4.03651C4.71974 9.99343 5.3821 10.2349 5.90014 10.6795C6.41818 11.1242 6.75655 11.7416 6.85217 12.4168C7.03044 13.7657 7.36104 15.0902 7.83766 16.365C8.02707 16.8679 8.06807 17.4144 7.95578 17.9399C7.8435 18.4653 7.58265 18.9476 7.20413 19.3296L5.41619 21.114C7.42031 24.6316 10.3386 27.5441 13.8632 29.5443L15.6511 27.7599C16.0339 27.3821 16.5172 27.1218 17.0436 27.0097C17.5701 26.8977 18.1178 26.9386 18.6217 27.1276C19.8989 27.6033 21.226 27.9332 22.5777 28.1111C23.2615 28.2074 23.8861 28.5512 24.3326 29.0771C24.779 29.603 25.0163 30.2743 24.9991 30.9634V35.1785C24.9996 35.2861 24.9938 35.3935 24.982 35.5H35V0.5ZM13.0665 35.5C11.9344 34.9678 10.8364 34.3585 9.78047 33.6751C6.3789 31.5179 3.49497 28.6397 1.33347 25.2449C0.851825 24.5028 0.407003 23.74 0 22.9592V35.5H13.0665Z"/>
                            </svg>
                        </span>
                        <span class="form__call_number">
                            <span>Call Us</span>
                            <span>416 323 3419</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="contact__form_left">
                    <div class="contact__form_head">Contact Cars Hauler</div>
                    <p class="contact__form_text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora </p>

                    <form>
                        <div class="form-group">
                            <label for="in_name" class="display-none"></label>
                            <input type="email" class="form-line" id="in_name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="in_phone" class="display-none"></label>
                            <input type="email" class="form-line" id="in_phone" placeholder="Your Phone">
                        </div>
                        <div class="form-group">
                            <label for="in_mail" class="display-none"></label>
                            <input type="email" class="form-line" id="in_mail" placeholder="Your Mail">
                        </div>
                        <div class="form-group">
                            <label for="in_textarea" class="display-none"></label>
                            <textarea class="form-area" id="in_textarea" rows="3" placeholder="Your Subject"></textarea>
                        </div>
                        <button type="submit" class="buttons-form">Send Request</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>