<div class="get_install__section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="get_instant__text">
                    Get an instant<br>
                    free quote now
                </div>
            </div>
            <div class="col-md-6">
                <div class="get_instant_btn">
                    <a href="#" class="get_instant_btn_calc">Car Trasnport Calculator</a>
                    <a href="tel:+1182312312" class="get_instant_btn_call">Call As At 182312312</a>
                </div>
            </div>
        </div>
    </div>
</div>