<div class="contain-our_works">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our__works_name">
                    <h4>How It Works</h4>
                </div>
                <div class="our__works_head">
                    <h3>How do I plan a car <br>shiping with Car Hauler?</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our__works_text">
                    <p>It’s easier than you imagine! Our shipments are renowned for their Safety, Punctuality, and Economy. We offer our customer the possibility to be sure his vehicle will be delivered in
                        time, for a competitive price and in total safety.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="step">
                    <div class="step__name">
                        <div class="step__name_img">
                            <img src="img/step-image-1.svg" alt="img">
                        </div>
                        <div class="step__name_txt">
                            <div class="step__name_txt-name">Step one</div>
                            <div class="step__name_txt-head">Get an instant free quote through our Car Shipping Calculator</div>
                        </div>
                    </div>
                    <div class="step__text">
                        It's easy with CarsHauler! Fill out our calculator requested info, choose the options you need and get the most accurate price based on the statistics of 400+ large companies in the USA
                        along your route over the last week.
                    </div>
                    <div class="step__link">
                        <div class="step__link_info">
                            <a href="#">
                                <span class="step__link_info-text">
                                    Get A Quote
                                </span>
                                <span class="step__link_info-icon">
                                    <svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.29 1.33008H3.29004C2.75961 1.33008 2.2509 1.54079 1.87583 1.91586C1.50075 2.29094 1.29004 2.79965 1.29004 3.33008V19.3301C1.29004 19.8605 1.50075 20.3692 1.87583 20.7443C2.2509 21.1194 2.75961 21.3301 3.29004 21.3301H15.29C15.8205 21.3301 16.3292 21.1194 16.7043 20.7443C17.0793 20.3692 17.29 19.8605 17.29 19.3301V8.33008L10.29 1.33008Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.29 1.33008V8.33008H17.29" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="step">
                    <div class="step__name">
                        <div class="step__name_img">
                            <img src="img/step-image-2.svg" alt="img">
                        </div>
                        <div class="step__name_txt">
                            <div class="step__name_txt-name">Step one</div>
                            <div class="step__name_txt-head">Get an instant free quote through our Car Shipping Calculator</div>
                        </div>
                    </div>
                    <div class="step__text">
                        It's easy with CarsHauler! Fill out our calculator requested info, choose the options you need and get the most accurate price based on the statistics of 400+ large companies in the USA
                        along your route over the last week.
                    </div>
                    <div class="step__link">
                        <div class="step__link_info">
                            <a href="#">
                                <span class="step__link_info-text">
                                    Need Help?
                                </span>
                                <span class="step__link_info-icon">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M8.08984 8.00008C8.32495 7.33175 8.789 6.76819 9.3998 6.40921C10.0106 6.05024 10.7287 5.91902 11.427 6.03879C12.1253 6.15857 12.7587 6.52161 13.2149 7.06361C13.6712 7.60561 13.9209 8.2916 13.9198 9.00008C13.9198 11.0001 10.9198 12.0001 10.9198 12.0001"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M11 16H11.01"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="step">
                    <div class="step__name">
                        <div class="step__name_img">
                            <img src="img/step-image-3.svg" alt="img">
                        </div>
                        <div class="step__name_txt">
                            <div class="step__name_txt-name">Step one</div>
                            <div class="step__name_txt-head">Get an instant free quote through our Car Shipping Calculator</div>
                        </div>
                    </div>
                    <div class="step__text">
                        It's easy with CarsHauler! Fill out our calculator requested info, choose the options you need and get the most accurate price based on the statistics of 400+ large companies in the USA
                        along your route over the last week.
                    </div>
                    <div class="step__link">
                        <div class="step__link_info">
                            <a href="#">
                                <span class="step__link_info-text">
                                    Clients Gallery
                                </span>
                                <span class="step__link_info-icon">
                                    <svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.4575 17.5806C23.4575 18.111 23.2468 18.6197 22.8717 18.9948C22.4967 19.3699 21.988 19.5806 21.4575 19.5806H3.45752C2.92709 19.5806 2.41838 19.3699 2.04331 18.9948C1.66823 18.6197 1.45752 18.111 1.45752 17.5806V6.58057C1.45752 6.05013 1.66823 5.54143 2.04331 5.16635C2.41838 4.79128 2.92709 4.58057 3.45752 4.58057H7.45752L9.45752 1.58057H15.4575L17.4575 4.58057H21.4575C21.988 4.58057 22.4967 4.79128 22.8717 5.16635C23.2468 5.54143 23.4575 6.05013 23.4575 6.58057V17.5806Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12.4575 15.5806C14.6667 15.5806 16.4575 13.7897 16.4575 11.5806C16.4575 9.37143 14.6667 7.58057 12.4575 7.58057C10.2484 7.58057 8.45752 9.37143 8.45752 11.5806C8.45752 13.7897 10.2484 15.5806 12.4575 15.5806Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="step">
                    <div class="step__name">
                        <div class="step__name_img">
                            <img src="img/step-image-4.svg" alt="img">
                        </div>
                        <div class="step__name_txt">
                            <div class="step__name_txt-name">Step one</div>
                            <div class="step__name_txt-head">Get an instant free quote through our Car Shipping Calculator</div>
                        </div>
                    </div>
                    <div class="step__text">
                        It's easy with CarsHauler! Fill out our calculator requested info, choose the options you need and get the most accurate price based on the statistics of 400+ large companies in the USA
                        along your route over the last week.
                    </div>
                    <div class="step__link">
                        <div class="step__link_info">
                            <a href="#">
                                <span class="step__link_info-text">
                                    View Reviews
                                </span>
                                <span class="step__link_info-icon">
                                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.24902 21.0168H3.24902C2.71859 21.0168 2.20988 20.8061 1.83481 20.4311C1.45974 20.056 1.24902 19.5473 1.24902 19.0168V12.0168C1.24902 11.4864 1.45974 10.9777 1.83481 10.6026C2.20988 10.2276 2.71859 10.0168 3.24902 10.0168H6.24902M13.249 8.01685V4.01685C13.249 3.2212 12.933 2.45813 12.3703 1.89553C11.8077 1.33292 11.0447 1.01685 10.249 1.01685L6.24902 10.0168V21.0168H17.529C18.0114 21.0223 18.4794 20.8533 18.8469 20.5409C19.2145 20.2285 19.4567 19.7938 19.529 19.3168L20.909 10.3168C20.9525 10.0302 20.9332 9.73753 20.8524 9.4591C20.7715 9.18067 20.6311 8.92314 20.4409 8.70436C20.2506 8.48558 20.0151 8.31078 19.7506 8.19206C19.4861 8.07335 19.1989 8.01356 18.909 8.01685H13.249Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>