<div class="multiform-contain">
    <div class="multiform">
        <form method="post" action="#">
            <div class="step">
                <div class="step__head">
                    Get Your Quote<br>
                    for car Delivery
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="multiform_from">Delivery from</label>
                        <input type="text" class="multiform-input" id="multiform_from" placeholder="Enter Zip Code or City">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="multiform_to">Delivery to</label>
                        <input type="text" class="multiform-input" id="multiform_to" placeholder="Enter Zip Code or City">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="datepicker">First Available Date</label>
                        <input type="text" class="multiform-input" id="datepicker" placeholder="Enter Delivery Date">
                    </div>
                </div>
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="delivery-1">
                    <label class="multiform-label-check" for="delivery-1">Enclosed Truck Delivery</label>
                </div>
                <a href="#" class="multiform-btn next">go to Vehicle Details</a>
            </div>
            <div class="step">
                <div class="progress__line_one"></div>
                <div class="step_number">
                    <a href="#" class="back step_number_txt active">1</a>
                    <a href="#" class="step_number_txt">2</a>
                    <a href="#" class="step_number_txt">3</a>
                </div>
                <a href="#" class="back">Назад</a>
                <a href="#" class="next">Следующий шаг</a>
            </div>
            <div class="step">
                <div class="progress__line_two"></div>
                <div class="step_number">
                    <a href="#" class="back step_number_txt active">1</a>
                    <a href="#" class="back step_number_txt active">2</a>
                    <a href="#" class="step_number_txt">3</a>
                </div>
                <a href="#" class="back">Назад</a>
                <a href="#" class="next">Следующий шаг</a>
            </div>
            <div class="step">
                <div class="progress__line_tri"></div>
                <div class="step_number">
                    <a href="#" class="back step_number_txt active">1</a>
                    <a href="#" class="back step_number_txt active">2</a>
                    <a href="#" class="back step_number_txt active">3</a>
                </div>
                <a href="#" class="back">Назад</a>
                <input type="submit" value="Зарегистрироваться">
            </div>
            <!--
            <p class="talign">
                <a href="#" class="back">Назад</a>
            </p>
            -->
        </form>
    </div>
</div>