<div class="multiform-contain">
    <div class="multiform">
        <form id="multiform" action="#">
            <div class="step">
                <div class="step__head">
                    Get Your Quote<br>
                    for car Delivery
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="multiform_from">Delivery from</label>
                        <input type="text" class="multiform-input" id="multiform_from" minlength="5" maxlength="5" placeholder="Enter Zip Code or City">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="multiform_to">Delivery to</label>
                        <input type="text" class="multiform-input" id="multiform_to" minlength="5" maxlength="5" placeholder="Enter Zip Code or City">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="datepicker">First Available Date</label>
                        <input type="text" class="multiform-input" id="datepicker" placeholder="Enter Delivery Date">
                    </div>
                </div>
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="delivery-1">
                    <label class="multiform-label-check" for="delivery-1">Enclosed Truck Delivery</label>
                    <div class="tooltip-info">
                        <img src="img/tooltip-img.svg" alt="img">
                        <div class="tooltip-info-text">
                            Lorem ipsum dolor sit amet.
                        </div>
                    </div>
                </div>
                <a href="#" id="multiform-btn-one" class="multiform-btn disabled">go to Vehicle Details</a>
            </div>

            <div class="step">
                <div class="progress__line_one"></div>
                <div class="step_number">
                    <a href="#" id="step_2_return_1" class="l1-1 step_number_txt">1</a>
                    <a href="#" class="l1-2 step_number_txt disabled">2</a>
                    <a href="#" class="l1-3 step_number_txt disabled">3</a>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="car-years">Vehicle Year</label>
                        <select class="multiform-select" name="car-years" id="car-years"></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="car-makes">Vehicle Mark</label>
                        <select class="multiform-select" name="car-makes" id="car-makes"></select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="car-models">Vehicle Model</label>
                        <select class="multiform-select" name="car-models" id="car-models"></select>
                    </div>
                </div>
                <div class="form-row" style="justify-content: center">
                    <div class="checkbox">
                        <input class="custom-checkbox" type="checkbox" id="delivery-2">
                        <label class="multiform-label-check" for="delivery-2">Operable</label>
                        <div class="tooltip-info">
                            <img src="img/tooltip-img.svg" alt="img">
                            <div class="tooltip-info-text">
                                Lorem ipsum dolor sit amet.
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <input class="custom-checkbox" type="checkbox" id="delivery-3">
                        <label class="multiform-label-check" for="delivery-3">Top Load</label>
                        <div class="tooltip-info">
                            <img src="img/tooltip-img.svg" alt="img">
                            <div class="tooltip-info-text">
                                Lorem ipsum dolor sit amet.
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" id="multiform-btn-two" class="multiform-btn disabled">Contact Details</a>
            </div>

            <div class="step">
                <div class="progress__line_two"></div>
                <div class="step_number">
                    <a href="#" class="l2-1 back step_number_txt active">1</a>
                    <a href="#" class="l2-2 back step_number_txt active">2</a>
                    <a href="#" class="l2-3 step_number_txt disabled">3</a>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="multiform_mail_1">Quote Send To</label>
                        <input type="text" class="multiform-input" id="multiform_mail_1" placeholder="Your Mail">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="multiform_mail_2">Quote Send To</label>
                        <input type="text" class="multiform-input" id="multiform_mail_2" placeholder="Your Mail">
                    </div>
                </div>
                <div class="form-row" style="justify-content: center">
                    <div class="checked__checkbox">
                        <div class="checked__checkbox_img">
                            <img src="img/checked-checkbox-img.svg" alt="img">
                        </div>
                        <div class="checked__checkbox_txt">Door-to-Door Service</div>
                    </div>
                    <div class="checked__checkbox">
                        <div class="checked__checkbox_img">
                            <img src="img/checked-checkbox-img.svg" alt="img">
                        </div>
                        <div class="checked__checkbox_txt">No Hidden Fees</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="multiform-label-text">
                        By providing your information, you agree to our <a href="#">privacy policy</a> and SMS notifications Up to 8msgs/mo. Msg&date rates may apply. Text Stop to unsibscribe
                    </div>
                </div>
                <a href="#" class="multiform-btn next">Calculate Shipping</a>
            </div>

            <div class="step">
                <div class="progress__line_tri"></div>
                <div class="step_number">
                    <a href="#" class="l3-1 back step_number_txt active">1</a>
                    <a href="#" class="l3-2 back step_number_txt active">2</a>
                    <a href="#" class="l3-3 back step_number_txt active">3</a>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="multiform_mail_3">Quote Send To</label>
                        <input type="text" class="multiform-input" id="multiform_mail_3" placeholder="Your Mail">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-multiform">
                        <label class="multiform-label" for="multiform_mail_4">Quote Send To</label>
                        <input type="text" class="multiform-input" id="multiform_mail_4" placeholder="Your Mail">
                    </div>
                </div>
                <div class="form-row" style="justify-content: center">
                    <div class="checkbox">
                        <input class="custom-checkbox" type="checkbox" id="delivery-6">
                        <label class="multiform-label-check" for="delivery-6">Call Me Before Transportation</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="multiform-label-text">
                        By providing your information, you agree to our <a href="#">privacy policy</a> and SMS notifications Up to 8msgs/mo. Msg&date rates may apply. Text Stop to unsibscribe
                    </div>
                </div>
                <input type="submit" class="multiform-btn green" value="Calculate Shipping">
            </div>
        </form>
    </div>
</div>