<div class="contain-our_blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our__blog_name">
                    <h4>Our Blog</h4>
                </div>
                <div class="our__blog_head">
                    <h3>Read helpful<br>information from Our Blog</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our__blog_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="contain-preview">
                    <a href="#" class="preview" style="background:url('img/preview-1.jpg');">
                        <span class='preview__date'>31 Aug 2020</span>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="learn-more">Learn more</span>
                    </a>
                    <a href="#" class="preview" style="background:url('img/preview-2.jpg');">
                        <span class='preview__date'>31 Aug 2020</span>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="learn-more">Learn more</span>
                    </a>
                    <a href="#" class="preview" style="background:url('img/preview-2.jpg');">
                        <span class='preview__date'>31 Aug 2020</span>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="learn-more">Learn more</span>
                    </a>
                    <a href="#" class="preview" style="background:url('img/preview-2.jpg');">
                        <span class='preview__date'>31 Aug 2020</span>
                        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <span class="learn-more">Learn more</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>