<div class="our_company__section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our_company__img">
                    <img src="img/our-company.jpg" alt="#">
                </div>
            </div>
            <div class="col-md-6">
                <div class="our_company__text">
                    <h4>Our company</h4>
                    <h2>A skilled company with long term history</h2>
                    <p>CarsHauler has a long term experience in car transport. For 6 years, our company has been recognized nationwide as one of the safest and trusted solutions for auto shipments. Taking over
                        the responsibility of W Express Inc, CarsHauler’s main goal is now to elevate the quality of the US’ Shipping Service. Care of details and flexible approach are the main qualities of our
                        company. Our specialized support team is ready to take care personally of each enquire and to find out the best solution relating to your needs.
                    </p>
                </div>
                <div class="our_company__link">
                    <div class="step__link_info">
                        <a href="#">
                            <span class="step__link_info-text">
                                Learn More About Us
                            </span>
                            <span class="step__link_info-icon">
                                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 9H14" stroke-width="3" stroke-linejoin="round"/>
                                    <path d="M7 2L14 9L7 16" stroke-width="3" stroke-linejoin="round"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>