<div class="contain-our_services">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our__services_name">
                    <h4>Our Services</h4>
                </div>
                <div class="our__services_head">
                    <h3>Choose just the services that satisfy the myriads of customers.</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our__services_text">
                    <p>For 6 years, CarsHauler has been unmistakable in each pick-up and delivery. Through our flexible approach in any situation, we succeed to let every vehicle</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="services">
                    <a class="services__link" href="#" style="background-image: url('img/our-services-1.jpg');">
                        <span class="services__link_overlay"></span>
                        <span class="services__link_head">
                            Relocation Auto Services
                        </span>
                        <span class="services__link_text">
                            For decades, our company has been recognized  nationwide as one of the safest and trusted  solutions for car transport.
                        </span>
                    </a>
                    <a class="services__link" href="#" style="background-image: url('img/our-services-2.jpg');">
                        <span class="services__link_overlay"></span>
                        <span class="services__link_head">
                            Buy a car online <br>with carshauler
                        </span>
                        <span class="services__link_text">
                            For decades, our company has been recognized  nationwide as one of the safest and trusted  solutions for car transport.
                        </span>
                    </a>
                    <a class="services__link" href="#" style="background-image: url('img/our-services-3.jpg');">
                        <span class="services__link_overlay"></span>
                        <span class="services__link_head">
                            College moving
                        </span>
                        <span class="services__link_text">
                            For decades, our company has been recognized  nationwide as one of the safest and trusted  solutions for car transport.
                        </span>
                    </a>
                    <a class="services__link" href="#" style="background-image: url('img/our-services-4.jpg');">
                        <span class="services__link_overlay"></span>
                        <span class="services__link_head">
                            vintage Car <br>delivery
                        </span>
                        <span class="services__link_text">
                            For decades, our company has been recognized  nationwide as one of the safest and trusted  solutions for car transport.
                        </span>
                    </a>
                    <a class="services__link" href="#" style="background-image: url('img/our-services-5.jpg');">
                        <span class="services__link_overlay"></span>
                        <span class="services__link_head">
                            Car <br>resellers tips
                        </span>
                        <span class="services__link_text">
                            For decades, our company has been recognized  nationwide as one of the safest and trusted  solutions for car transport.
                        </span>
                    </a>
                    <a class="services__link" href="#" style="background-image: url('img/our-services-6.jpg');">
                        <span class="services__link_overlay"></span>
                        <span class="services__link_head">
                            Business sulutions from cars Hauler
                        </span>
                        <span class="services__link_text">
                            For decades, our company has been recognized  nationwide as one of the safest and trusted  solutions for car transport.
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>