<div class="our_company__section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our_company__img">
                    <img src="img/our-company.jpg" alt="#">
                </div>
            </div>
            <div class="col-md-6">
                <div class="our_company__text">
                    <h4>Our company</h4>
                    <h2>A skilled company with long term history</h2>
                    <p>CarsHauler has a long term experience in car transport. For 6 years, our company has been
                        recognized nationwide as one of the safest and trusted solutions for auto shipments. Taking over
                        the responsibility of W Express Inc, CarsHauler’s main goal is now to elevate the quality of the
                        US’ Shipping Service. Care of details and flexible approach are the main qualities of our
                        company. Our specialized support team is ready to take care personally of each enquire and to
                        find out the best solution relating to your needs.
                    </p>
                </div>
                <a class="inner_link_block" href="#">Learn More About Us</a>
            </div>

        </div>
    </div>
</div>