<form>
    <div class="form-row">
        <div class="col-deliver">
            <label class="deliver-label" for="deliver_from">Delivery from</label>
            <input type="text" class="deliver-input" id="deliver_from" placeholder="Enter Zip Code or City">
        </div>
        <div class="col-deliver">
            <label class="deliver-label" for="deliver_to">Delivery from</label>
            <input type="text" class="deliver-input" id="deliver_to" placeholder="Enter Zip Code or City">
        </div>
        <div class="col-deliver-btn">
            <button type="submit" class="deliver-btn">Shipping details</button>
        </div>
    </div>
</form>