<div class="contain-our_reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our__reviews_name">
                    <h4>Types of delivery</h4>
                </div>
                <div class="our__reviews_head">
                    <h3>Delivery options from <br>CarsHauler</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our__reviews_text">
                    <p>For 6 years, CarsHauler has been unmistakable in each pick-up and delivery. Through our flexible approach in any situation, we succeed to let every vehicle reach the appropriate
                        destination with extreme care and punctuality, wondering our customers once more.</p>
                </div>
            </div>
        </div>
    </div>
</div>