<div class="contain-our_reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="our__reviews_name">
                    <h4>Types of delivery</h4>
                </div>
                <div class="our__reviews_head">
                    <h3>Delivery options from <br>CarsHauler</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="our__reviews_text">
                    <p>For 6 years, CarsHauler has been unmistakable in each pick-up and delivery. Through our flexible approach in any situation, we succeed to let every vehicle reach the appropriate
                        destination with extreme care and punctuality, wondering our customers once more.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="contain-tabs" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="tabs-link active" id="pills-door-tab" data-toggle="pill" href="#pills-door" role="tab" aria-controls="pills-door" aria-selected="true">
                                Door-to-Door delivery
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="tabs-link" id="pills-opened-tab" data-toggle="pill" href="#pills-opened" role="tab" aria-controls="pills-opened" aria-selected="false">
                                Opened Truck Delivery
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="tabs-link" id="pills-enclosed-tab" data-toggle="pill" href="#pills-enclosed" role="tab" aria-controls="pills-enclosed" aria-selected="false">
                                Enclosed Truck Delivery
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="tabs-link" id="pills-expedited-tab" data-toggle="pill" href="#pills-expedited" role="tab" aria-controls="pills-expedited" aria-selected="false">
                                Expedited Shipping
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-door" role="tabpanel" aria-labelledby="pills-door-tab">
                            <div class="tabs__content">
                                <div class="tabs__content_info">
                                    <div class="tabs__content_info-txt">
                                        <div class="tabs__content_info-head">
                                            <h2>
                                                What is a Door-to-Door Auto Transport?
                                            </h2>
                                        </div>
                                        <div class="tabs__content_info-text">
                                            <p>
                                                The Door-to-Door service represents the most comfortable and luxurious way to ship a vehicle. We pick-up and deliver your car from the designated locations you
                                                have
                                                provided us. Just leave us the key and go! CarsHauler has a long term experience in car transport. For years, our company has been recognized nationwide as one of
                                                the
                                                safest and trusted solutions for door-to-door inquiries. We are provided with a fine selection of highly reviewed drivers and truckers around the States ready to
                                                transport your vehicle at any time!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contain-info-link">
                                        <div class="step__link_info">
                                            <a href="#">
                                                <span class="step__link_info-text">
                                                    Learn More About Door-To-Door
                                                </span>
                                                <span class="step__link_info-icon">
                                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 9.00003H14" stroke-width="3" stroke-linejoin="round"/>
                                                        <path d="M7 2.00003L14 9.00003L7 16" stroke-width="3" stroke-linejoin="round"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabs__content_imag">
                                    <img src="img/tabs-img-1.jpg" alt="img">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-opened" role="tabpanel" aria-labelledby="pills-opened-tab">
                            <div class="tabs__content">
                                <div class="tabs__content_info">
                                    <div class="tabs__content_info-txt">
                                        <div class="tabs__content_info-head">
                                            <h2>
                                                What is a Opened Truck Delivery?
                                            </h2>
                                        </div>
                                        <div class="tabs__content_info-text">
                                            <p>
                                                The Door-to-Door service represents the most comfortable and luxurious way to ship a vehicle. We pick-up and deliver your car from the designated locations you
                                                have
                                                provided us. Just leave us the key and go! CarsHauler has a long term experience in car transport. For years, our company has been recognized nationwide as one of
                                                the
                                                safest and trusted solutions for door-to-door inquiries. We are provided with a fine selection of highly reviewed drivers and truckers around the States ready to
                                                transport your vehicle at any time!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contain-info-link">
                                        <div class="step__link_info">
                                            <a href="#">
                                                <span class="step__link_info-text">
                                                    Learn More About Door-To-Door
                                                </span>
                                                <span class="step__link_info-icon">
                                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 9.00003H14" stroke-width="3" stroke-linejoin="round"/>
                                                        <path d="M7 2.00003L14 9.00003L7 16" stroke-width="3" stroke-linejoin="round"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabs__content_imag">
                                    <img src="img/tabs-img-1.jpg" alt="img">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-enclosed" role="tabpanel" aria-labelledby="pills-enclosed-tab">
                            <div class="tabs__content">
                                <div class="tabs__content_info">
                                    <div class="tabs__content_info-txt">
                                        <div class="tabs__content_info-head">
                                            <h2>
                                                What is a Enclosed Truck Delivery?
                                            </h2>
                                        </div>
                                        <div class="tabs__content_info-text">
                                            <p>
                                                The Door-to-Door service represents the most comfortable and luxurious way to ship a vehicle. We pick-up and deliver your car from the designated locations you
                                                have
                                                provided us. Just leave us the key and go! CarsHauler has a long term experience in car transport. For years, our company has been recognized nationwide as one of
                                                the
                                                safest and trusted solutions for door-to-door inquiries. We are provided with a fine selection of highly reviewed drivers and truckers around the States ready to
                                                transport your vehicle at any time!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contain-info-link">
                                        <div class="step__link_info">
                                            <a href="#">
                                                <span class="step__link_info-text">
                                                    Learn More About Door-To-Door
                                                </span>
                                                <span class="step__link_info-icon">
                                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 9.00003H14" stroke-width="3" stroke-linejoin="round"/>
                                                        <path d="M7 2.00003L14 9.00003L7 16" stroke-width="3" stroke-linejoin="round"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabs__content_imag">
                                    <img src="img/tabs-img-1.jpg" alt="img">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-expedited" role="tabpanel" aria-labelledby="pills-expedited-tab">
                            <div class="tabs__content">
                                <div class="tabs__content_info">
                                    <div class="tabs__content_info-txt">
                                        <div class="tabs__content_info-head">
                                            <h2>
                                                What is a Expedited Shipping?
                                            </h2>
                                        </div>
                                        <div class="tabs__content_info-text">
                                            <p>
                                                The Door-to-Door service represents the most comfortable and luxurious way to ship a vehicle. We pick-up and deliver your car from the designated locations you
                                                have
                                                provided us. Just leave us the key and go! CarsHauler has a long term experience in car transport. For years, our company has been recognized nationwide as one of
                                                the
                                                safest and trusted solutions for door-to-door inquiries. We are provided with a fine selection of highly reviewed drivers and truckers around the States ready to
                                                transport your vehicle at any time!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contain-info-link">
                                        <div class="step__link_info">
                                            <a href="#">
                                                <span class="step__link_info-text">
                                                    Learn More About Door-To-Door
                                                </span>
                                                <span class="step__link_info-icon">
                                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 9.00003H14" stroke-width="3" stroke-linejoin="round"/>
                                                        <path d="M7 2.00003L14 9.00003L7 16" stroke-width="3" stroke-linejoin="round"/>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabs__content_imag">
                                    <img src="img/tabs-img-1.jpg" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contain-slide" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contain-types-of-delivery">
                    <div class="carousel-types-of-delivery owl-carousel">
                        <div class="item">
                            <div class="tabs__content">
                                <div class="tabs__content_info">
                                    <div class="tabs__content_imag" style='background-image: url("img/tabs-img-1.jpg");'></div>
                                    <div class="tabs__content_info-txt">
                                        <div class="tabs__content_info-head">
                                            <h2>
                                                What is a Door-to-Door Auto Transport?
                                            </h2>
                                        </div>
                                        <div class="tabs__content_info-text">
                                            <p>
                                                The Door-to-Door service represents the most comfortable and luxurious way to ship a vehicle. We pick-up and deliver your car from the designated locations you
                                                have
                                                provided us. Just leave us the key and go! CarsHauler has a long term experience in car transport. For years, our company has been recognized nationwide as one of
                                                the
                                                safest and trusted solutions for door-to-door inquiries. We are provided with a fine selection of highly reviewed drivers and truckers around the States ready to
                                                transport your vehicle at any time!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contain-info-link">
                                        <div class="step__link_info">
                                            <a href="#">
                                                <span class="step__link_info-icon">
                                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 9.00003H14" stroke-width="3" stroke-linejoin="round"/>
                                                        <path d="M7 2.00003L14 9.00003L7 16" stroke-width="3" stroke-linejoin="round"/>
                                                    </svg>
                                                </span>
                                                <span class="step__link_info-text">
                                                    Learn More About Door-To-Door
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="tabs__content">
                                <div class="tabs__content_info">
                                    <div class="tabs__content_imag" style='background-image: url("img/tabs-img-1.jpg");'></div>
                                    <div class="tabs__content_info-txt">
                                        <div class="tabs__content_info-head">
                                            <h2>
                                                What is a Opened Truck Delivery?
                                            </h2>
                                        </div>
                                        <div class="tabs__content_info-text">
                                            <p>
                                                The Door-to-Door service represents the most comfortable and luxurious way to ship a vehicle. We pick-up and deliver your car from the designated locations you
                                                have
                                                provided us. Just leave us the key and go! CarsHauler has a long term experience in car transport. For years, our company has been recognized nationwide as one of
                                                the
                                                safest and trusted solutions for door-to-door inquiries. We are provided with a fine selection of highly reviewed drivers and truckers around the States ready to
                                                transport your vehicle at any time!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contain-info-link">
                                        <div class="step__link_info">
                                            <a href="#">

                                            <span class="step__link_info-icon">
                                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 9.00003H14" stroke-width="3" stroke-linejoin="round"/>
                                                        <path d="M7 2.00003L14 9.00003L7 16" stroke-width="3" stroke-linejoin="round"/>
                                                    </svg>
                                                </span>
                                                <span class="step__link_info-text">
                                                    Learn More About Door-To-Door
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="tabs__content">
                                <div class="tabs__content_info">
                                    <div class="tabs__content_imag" style='background-image: url("img/tabs-img-1.jpg");'></div>
                                    <div class="tabs__content_info-txt">
                                        <div class="tabs__content_info-head">
                                            <h2>
                                                What is a Enclosed Truck Delivery?
                                            </h2>
                                        </div>
                                        <div class="tabs__content_info-text">
                                            <p>
                                                The Door-to-Door service represents the most comfortable and luxurious way to ship a vehicle. We pick-up and deliver your car from the designated locations you
                                                have
                                                provided us. Just leave us the key and go! CarsHauler has a long term experience in car transport. For years, our company has been recognized nationwide as one of
                                                the
                                                safest and trusted solutions for door-to-door inquiries. We are provided with a fine selection of highly reviewed drivers and truckers around the States ready to
                                                transport your vehicle at any time!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contain-info-link">
                                        <div class="step__link_info">
                                            <a href="#">

                                            <span class="step__link_info-icon">
                                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 9.00003H14" stroke-width="3" stroke-linejoin="round"/>
                                                        <path d="M7 2.00003L14 9.00003L7 16" stroke-width="3" stroke-linejoin="round"/>
                                                    </svg>
                                                </span>
                                                <span class="step__link_info-text">
                                                    Learn More About Door-To-Door
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="tabs__content">
                                <div class="tabs__content_info">
                                    <div class="tabs__content_imag" style='background-image: url("img/tabs-img-1.jpg");'></div>
                                    <div class="tabs__content_info-txt">
                                        <div class="tabs__content_info-head">
                                            <h2>
                                                What is a Expedited Shipping?
                                            </h2>
                                        </div>
                                        <div class="tabs__content_info-text">
                                            <p>
                                                The Door-to-Door service represents the most comfortable and luxurious way to ship a vehicle. We pick-up and deliver your car from the designated locations you
                                                have
                                                provided us. Just leave us the key and go! CarsHauler has a long term experience in car transport. For years, our company has been recognized nationwide as one of
                                                the
                                                safest and trusted solutions for door-to-door inquiries. We are provided with a fine selection of highly reviewed drivers and truckers around the States ready to
                                                transport your vehicle at any time!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="contain-info-link">
                                        <div class="step__link_info">
                                            <a href="#">

                                            <span class="step__link_info-icon">
                                                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 9.00003H14" stroke-width="3" stroke-linejoin="round"/>
                                                        <path d="M7 2.00003L14 9.00003L7 16" stroke-width="3" stroke-linejoin="round"/>
                                                    </svg>
                                                </span>
                                                <span class="step__link_info-text">
                                                    Learn More About Door-To-Door
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>