<div class="why_us_section">
    <div class="why_us__text">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="why_us__text_left">
                        <h4>Why Us</h4>
                        <h2>Why Cars Hauler is this the right place?</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="why_us__text_right">
                        <p>CarsHauler has served myriads of customers for a long time in the US. We have always been
                            distinguished in the market for our high quality service tradition and our ability to
                            satisfy and be accurate to each enquire and customer. We offer the best solutions and
                            facilities for shipping any kind of vehicle for the best prices and services. Our
                            personalized approach and professionalism of our drivers made known our company as one of
                            the most trusted and highly rated in the States.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="why_us__advantages">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="why_us_item_wrap">
                        <div class="why_us__item">
                            <div class="why_us__item_ico">
                                <img src="img/ico-employee.png" alt="#">
                            </div>
                            <div class="why_us__item_text">
                                <h4>Support Team</h4>
                                <p>Our specialized support team is available to receive each enquire and to answer to
                                    any
                                    request, adjusting with facility the exigences of every client. With us you can feel
                                    safe!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="why_us_item_wrap">
                        <div class="why_us__item">
                            <div class="why_us__item_ico">
                                <img src="img/ico-costumer-service.png" alt="#">
                            </div>
                            <div class="why_us__item_text">
                                <h4>In-Time Delivery</h4>
                                <p>Our drivers are professionals and punctual in each step concerning the car transport.
                                    Here you don’t need to worry about daily schedule changes, we respect your affairs!

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="why_us_item_wrap">
                    <div class="why_us__item">
                        <div class="why_us__item_ico">
                            <img src="img/ico-route.png" alt="#">
                        </div>
                        <div class="why_us__item_text">
                            <h4>Online Tracking System</h4>
                            <p>Each shipment is inspectionated singularly from pick-up to delivery through our online
                                tracking system. At any time the status report of your vehicle is updated.
                            </p>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="why_us_item_wrap">
                    <div class="why_us__item">
                        <div class="why_us__item_ico">
                            <img src="img/ico-searching.png" alt="#">
                        </div>
                        <div class="why_us__item_text">
                            <h4>Personalized approach</h4>
                            <p>Our personalized approach let the client feel at home with us! Leave your feedback and
                                visit our reviews page so to discover how many customers like you are satisfied with our
                                services!
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
                

            </div>
        </div>

    </div>
</div>