/*Footer*/
footer {
    background: #191C2F;
    padding-top: 76px;
    padding-bottom: 39px;
    position: relative;
}

.footer__bg_symbol{
    position: absolute;
    top:76px;
    left:5.98%;
}

.footer__menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__menu_block1 {
    width: 100%;
    max-width: 230px;
    border-right: 1px solid #4F4F4F;
}

.footer__menu_block {
    margin-right: 90px;
}

.footer__menu_block:last-child {
    margin-right: 0;
}

.footer__menu_title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #54528D;
    margin-bottom: 25px;
}

ul.footer__menu_item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__menu_item li {
    margin-bottom: 15px;
}

.footer__menu_item li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    transition: 0.4s ease-in;
}

.footer__menu_item li a:hover {
    color: #EEB300;
    transition: 0.4s ease-in;
}

.footer__contact_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: 1px solid #4F4F4F;
}

.footer__logo {
    margin-bottom: 25px;
}

.footer__social ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.footer__social ul li {
    margin-right: 25px;
}

.footer__social ul li:last-child {
    margin-right: 0px;
}

.footer__social ul li a svg path {
    fill: #ffffff;
    transition: ease-in 300ms;
}

.footer__social ul li a:hover svg path {
    fill: #EEB300;
    transition: ease-in 300ms;
}

.footer__contact_text {
    width: 100%;
    max-width: 280px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    padding-right: 60px;
}

.footer_menu_section{
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer_call_map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}

.footer_call_map .head__call_number span:nth-child(1) {
    color: #54528D;
}

.footer_call_map .head__call_number span:nth-child(2) {
    color: #ffffff;
}

.footer_call_map .head__call_ico svg path {
    fill: #3C3B6E;
    transition: ease-in 300ms;
}

.footer_call_map a.head__call:hover .head__call_ico svg path {
    fill: #EEB300;
    transition: ease-in 300ms;
}

.footer_call_map a.head__call:hover .head__call_number span:nth-child(1) {
    color: #EEB300;
    transition: ease-in 300ms;
}

.footer_call_map a.head__call:hover .head__call_number span:nth-child(2) {
    color: #ffffff;
    transition: ease-in 300ms;
}


.footer_call_map .head__meet_addr-head {
    color: #54528D;
}

.footer_call_map .head__meet_addr-text span:nth-child(1) {

    color: #ffffff;
}

.footer_call_map .head__meet_addr-text span:nth-child(2) {
    color: #ffffff;
}

.footer_call_map .head__meet_ico svg path {
    fill: #3C3B6E;
    transition: ease-in 300ms;
}

.footer_call_map a.head__meet:hover .head__meet_ico svg path {
    fill: #EEB300;
    transition: ease-in 300ms;
}

.footer_call_map a.head__meet:hover .head__meet_addr-head {
    color: #EEB300;
    transition: ease-in 300ms;
}

.footer_call_map a.head__meet:hover .head__meet_addr-text span:nth-child(1) {
    color: #ffffff;
    transition: ease-in 300ms;
}

.footer_call_map a.head__meet:hover .head__meet_addr-text span:nth-child(2) {
    color: #ffffff;
    transition: ease-in 300ms;
}

.copy_section_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #4F4F4F;
    padding-top: 38px;
}

.copy_section_wrap a{
    color: #ffffff;
    font-size: 14px;
    transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.copy_section_wrap a:hover{
    color: #EEB300;
    transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.copy_section_wrap a:hover span{
    color: #ffffff;
    transition: 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.copy__left_link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.copy__left_link a{
    margin-right: 5px;
}

.copy__right_link{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.copy__right_link ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.copy__right_link ul li{
    list-style-type: none;
}

.copy__right_link a{
    margin-left: 20px;
}

