@media (min-width: 0) and (max-width: 1600px) {

}

@media (min-width: 0) and (max-width: 1440px) {
    .back_to_top {
        right: 8%;
    }
}

@media (min-width: 0) and (max-width: 1366px) {
    .grey__block_info {
        width: 50%;
    }

    .grey__block_imag {
        max-width: 50%;
    }
}

@media (min-width: 0) and (max-width: 1199px) {
    .menu__text ul li {
        margin-right: 15px;
    }

    .multiform {
        min-width: 310px;
    }

    #pills-tab .nav-item {
        width: 25%;
    }

    a.tabs-link, a.tabs-link.active, a.tabs-link:hover {
        font-size: 12px;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .tabs-link.active::before {
        top: 42px;
    }

    .our_company__link {
        width: 100%;
    }

    .why_us__item {
        width: inherit;
    }

    a.services__link {
        min-height: 270px;
    }

    a.preview {
        width: 50%;
        margin-bottom: 7px;
    }

    .footer__menu_block {
        margin-right: 50px;
        width: calc(25% - 50px);
    }

    .footer__contact_text {
        max-width: 215px;
        padding-right: 50px;
    }

    .head__call_number span:nth-child(2) {
        font-size: 14px;
    }

    .paper__imag {
        max-width: 50%;
    }

    .paper__info {
        width: 50%;
    }
}

@media (min-width: 0) and (max-width: 991px) {
    :root {
        --main-padding: 75px;
    }

    a.head__call {
        display: none;
    }

    a.head__meet {
        display: none;
    }

    a.head__button {
        display: none;
    }

    .menu_contain {
        display: none;
    }

    .main_header {
        min-height: 65px;
    }

    .main_logo a svg {
        height: 65px !important;
        width: inherit !important;
    }

    a.mobile-menu-open {
        display: flex;
    }

    .start h1 {
        font-size: 36px;
    }

    a.services__link {
        width: calc(50% - 2px);
    }

    #contain-tabs {
        display: none;
    }

    #contain-slide {
        display: block;
    }

    .tabs__content_imag {
        display: flex;
        width: inherit;
        height: auto;
        min-height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .tabs__content_info {
        padding-right: 0;
    }

    .tabs__content_info-head {
        margin-top: 30px;
    }

    .tabs__content_info-head h2 {
        font-size: 20px;
    }

    .tabs__content_imag img {
        box-shadow: none;
    }

    .tabs__content_info-text p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        color: #191C2F;
        margin-top: 15px;
    }

    .step__link_info-text {
        margin-left: 30px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        color: #3C3B6E;
    }

    .contact__form_bgl {
        width: 100%;
    }

    .contact__form_bgr {
        display: none;
    }

    .contact_form__connect {
        margin-bottom: 75px;
    }

    .contact__form_left {
        max-width: 100%;
        margin-bottom: 75px;
    }

    .footer__contact_text {
        max-width: 455px;
        padding-right: 290px;
    }

    .footer__menu_block {
        margin-right: 50px;
        width: calc(50% - 50px);
        max-width: inherit;
    }

    .footer__menu_block1 {
        border-right: none;
    }

    .footer__menu .footer__menu_block:nth-child(1),
    .footer__menu .footer__menu_block:nth-child(2) {
        margin-bottom: 50px;
    }

    .copy_section_wrap {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .copy__left_link {
        justify-content: center;
    }

    .copy__right_link {
        justify-content: center;
    }

    .paper {
        flex-direction: column-reverse;
    }

    .paper:nth-child(2n) {
        flex-direction: column-reverse;
    }

    .paper__imag {
        max-width: 100%;
    }

    .paper__info {
        width: 100%;
    }

    .grey__block {
        flex-direction: column-reverse;
    }

    .grey__block_imag {
        max-width: 100%;
    }

    .grey__block_info {
        width: 100%;
    }

    .menu__text ul li .sub_menu_link-ul li,
    .menu__text ul li .sub_menu_link-ul li a {
        color: #191c2f;
    }

    #m-sub_menu_link-ul-1, #m-sub_menu_link-ul-2, #m-sub_menu_link-ul-3 {
        background: #fff;
        padding: 10px 15px !important;
        min-height: auto;
    }

    .menu__text > ul > li {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    .mobile-menu-list .menu__text ul li a {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .contain-start {
        padding: 130px 0 75px;
    }

    .contain-start {
        width: 100%;
        height: auto;
    }

    .start {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: inherit;
    }

    .start h1 {
        text-align: center;
    }

    .start h2 {
        text-align: center;
        margin-bottom: 35px;
    }

    .reviews_block {
        max-width: 100%;
        margin: 75px auto;
    }

    .our__services_name h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 220%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #191C2F;
    }

    .our__services_head h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 120%;
        color: #191C2F;
    }

    .our__services_text {
        min-height: auto;
    }

    .our__services_text p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        color: #191C2F;
    }

    a.services__link {
        width: 100%;
        min-height: 240px;
    }

    .services__link_overlay {
        opacity: 1;
    }

    a.services__link:hover {
        border: none;
    }

    .services__link_head {
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 120%;
        text-transform: capitalize;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    a.services__link:hover .services__link_head {
        margin-bottom: 0;
    }

    .services__link_text {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #FFFFFF;

        z-index: 1;
        height: auto;
        opacity: 1;
        margin-top: 15px;
        transition: .5s cubic-bezier(.25, .1, .25, 1);
    }

    .our__reviews_name h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 220%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #191C2F;
    }

    .our__reviews_head h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 120%;
        color: #191C2F;
    }

    .our__reviews_text {
        min-height: auto;
    }

    .our__reviews_text p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        color: #191C2F;
    }

    .our__works_name h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 220%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #191C2F;
    }

    .our__works_head h4 {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 120%;
        color: #191C2F;
    }

    .our__works_text {
        min-height: auto;
    }

    .our__works_text p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        color: #191C2F;
    }

    .our__works_name h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 220%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #191C2F;
    }

    .our__works_head h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 120%;
        color: #191C2F;
    }

    .step__name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .step__name_txt-name {
        text-align: center;
        margin-top: 20px;
    }

    .step__name_txt-head {
        text-align: center;
    }

    .step__text {
        text-align: center;
    }

    .step__link_info a {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .step__link_info {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    .our_company__text h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 220%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #191C2F;
    }

    .our_company__text h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 120%;
        color: #191c2f;
        margin-bottom: 15px;
    }

    .our_company__text p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        color: #191c2f;
    }

    .why_us__text {
        padding: 75px 0;
    }

    .why_us__text_left {
        min-height: auto;
    }

    .why_us__text_right {
        min-height: auto;
    }

    .get_instant__text {
        min-height: auto;
    }

    .get_instant_btn {
        min-height: auto;
    }

    .get_install__section {
        padding: 75px 0;
    }

    .get_instant_btn_calc {
        width: 100%;
        margin-top: 35px;
    }

    .get_instant_btn_call {
        width: 100%;
        margin-top: 35px;
    }

    .grey__block_info h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 220%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #191C2F;
    }

    .grey__block_info h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 120%;
        color: #191c2f;
        margin-bottom: 15px;
    }

    .grey__block_info p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        color: #191c2f;
    }

    a.preview {
        width: 100%;
        margin-bottom: 7px;
    }

    .contact__form_left {
        padding: 20px;
    }

    .buttons-form {
        width: 100%;
    }

    .back_to_top {
        right: calc(50% - 80px);
    }

    .footer__contact_wrap {
        flex-direction: column;
        margin-top: 20px;
        border-right: none;
    }

    .footer__contact_text {
        max-width: 100%;
        padding-right: 0;
        margin-top: 20px;
    }

    .footer__menu_block {
        margin-right: 0;
        width: 100%;
        max-width: inherit;
    }

    .footer__menu .footer__menu_block:nth-child(3) {
        margin-bottom: 50px;
    }

    .copy__right_link {
        flex-direction: column;
        align-items: flex-start;
    }

    .copy__right_link a {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .copy__left_link, .copy__right_link {
        justify-content: center;
    }

    .carousel-types-of-delivery .step__link_info a {
        flex-direction: row;
        justify-content: flex-start;
    }

    .carousel-reviews2 {
        display: block;
        width: 100% !important;
        margin-left: 0 !important;
    }

    .our_company__text::before {
        display: none;
    }

    .paper__imag {
        min-height: 300px;
    }

    .paper__info {
        padding: 50px 20px;
    }

    .paper__info h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 220%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #191C2F;
    }

    .paper__info h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 120%;
        color: #191C2F;
        margin-top: 15px;
    }

    .paper__info p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        color: #191C2F;
        margin-top: 15px;
    }

    .grey__block_info {
        padding: 20px;
        min-height: auto;
    }

    .grey__block_imag {
        min-height: 300px;
    }

    .our__blog_name h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 220%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #191C2F;
    }

    .our__blog_head h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 120%;
        color: #191C2F;
        margin-top: 15px;
    }

    .our__blog_head p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: flex-end;
        color: #191C2F;
        margin-top: 15px;
    }

    .other__img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .other__info {
        margin: 0 auto var(--main-padding);
    }

    .other__info_head {
        text-align: center;
    }

    .other__info_text {
        text-align: center;
    }

    .other__info_link {
        display: flex;
        justify-content: center;
    }

    .contain-info-link {
        border-top: none;
        border-bottom: 1px solid #3c3b6e;
    }

    .step__link {
        border-top: none;
        border-bottom: 1px solid #3c3b6e;
    }

    .our_company__link {
        border-top: none;
        border-bottom: 1px solid #3c3b6e;
    }

    .footer__logo_social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__contact_text {
        text-align: center;
    }

    .footer__menu_title {
        text-align: center;
    }

    .footer__menu_item li {
        display: flex;
        justify-content: center;
    }

    .copy__right_link ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .copy__right_link ul li{
        margin-bottom: 15px;
    }
}

@media (min-width: 0) and (max-width: 575px) {
    .foot_bread_crumbs ul li {
        margin: 5px;
    }

    .foot_bread_crumbs ul li:first-child {
        margin-right: 15px;
    }

    .foot_bread_crumbs ul li:last-child {
        margin-left: 15px;
    }
}

@media (min-width: 0) and (max-width: 479px) {
    .copy__left_link a {
        font-size: 12px;
    }
}

@media (min-width: 0) and (max-width: 360px) {

}