@media (min-width: 0) and (max-width: 1600px) {

}

@media (min-width: 0) and (max-width: 1440px) {

}

@media (min-width: 0) and (max-width: 1366px) {

}

@media (min-width: 0) and (max-width: 1199px) {
    .menu__text ul li {
        margin-right: 15px;
    }

    .multiform {
        min-width: 310px;
    }

    a.tabs-link {
        font-size: 12px;
    }

    a.tabs-link:hover {
        font-size: 12px;
    }

    a.tabs-link.active {
        font-size: 12px;
    }

    .tabs-link.active::before {
        top: 42px;
    }

    .our_company__link {
        width: 100%;
    }

    .why_us__item {
        width: inherit;
    }

    a.services__link {
        min-height: 270px;
    }

    a.preview {
        width: 50%;
        margin-bottom: 7px;
    }

    .footer__menu_block {
        margin-right: 50px;
        width: calc(25% - 50px);
    }

    .footer__contact_text {
        max-width: 215px;
        padding-right: 50px;
    }

    .head__call_number span:nth-child(2) {
        font-size: 14px;
    }
}

@media (min-width: 0) and (max-width: 991px) {
    a.head__call {
        display: none;
    }

    a.head__meet {
        display: none;
    }

    a.head__button {
        display: none;
    }

    .menu_contain {
        display: none;
    }

    .main_header {
        min-height: 65px;
    }

    .main_logo a svg {
        height: 65px !important;
        width: inherit !important;
    }

    a.mobile-menu-open {
        display: flex;
    }
}

@media (min-width: 0) and (max-width: 767px) {

}

@media (min-width: 0) and (max-width: 575px) {

}

@media (min-width: 0) and (max-width: 479px) {

}

@media (min-width: 0) and (max-width: 360px) {

}