/*Menu*/
.menu_contain {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 60px;
    background: #f9f9fe;
    display: flex;
    align-items: center;
    box-shadow: 0 25px 35px -15px rgba(0, 0, 0, 0.1);
}

.menu {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__text ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu__text ul li {
    list-style-type: none;
    margin-right: 35px;
    position: relative;
}

.menu__text > ul > li {
    height: 60px;
    display: flex;
    align-items: center;
}

.menu__text ul li:last-child {
    margin-right: 0;
}

.menu__text ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #3C3B6E;
    opacity: 0.7;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu__text ul li a:hover {
    color: #191C2F;
    opacity: 1;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu__icon ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu__icon ul li {
    list-style-type: none;
}

.menu__icon ul li a {
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu__icon ul li a:hover {
    background: #B22234;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu__icon ul li a svg path {
    fill: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu__icon ul li a:hover svg path {
    fill: #FFFFFF;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.sub_menu_link svg {
    margin-left: 7px;
    margin-top: -2px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.sub_menu_link svg path {
    fill: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.sub_menu_link:hover svg path {
    fill: #B22234;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#sub_menu_link-ul-1 {
    position: absolute;
    top: 60px;
    left: -35px;
    background: #3C3B6E;
}

#sub_menu_link-ul-2 {
    position: absolute;
    top: 60px;
    left: -35px;
    background: #34345f;
}

#sub_menu_link-ul-3 {
    position: absolute;
    top: 60px;
    left: -35px;
    background: #3C3B6E;
}

.menu__text ul li .sub_menu_link-ul {
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 30px 20px 49px 35px !important;
    min-height: 274px;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu__text ul li .sub_menu_link-ul.active {
    z-index: 2;
    opacity: 1;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu__text ul li .sub_menu_link-ul li {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-right: 0;
}

.menu__text ul li ul li:last-child {
    display: flex;
    justify-content: flex-end;
}

.menu__text ul li ul li:last-child a {
    border-bottom: 1px solid transparent;
}

.menu__text ul li ul li:last-child a:hover {
    border-bottom: 1px solid #EEB300;
}

.menu__text ul li .sub_menu_link-ul li:first-child {
    margin-bottom: 20px;
}

.menu__text ul li .sub_menu_link-ul li:first-child a {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    opacity: 1;
}

.menu__text ul li .sub_menu_link-ul li:first-child a:hover {
    cursor: inherit;
    color: #FFFFFF;
}

.menu__text ul li .sub_menu_link-ul li:last-child {
    margin-bottom: 0;
}

.menu__text ul li .sub_menu_link-ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-transform: capitalize;
    color: #FFFFFF;
    letter-spacing: 0;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu__text ul li .sub_menu_link-ul li a:hover {
    color: #EEB300;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.mobile-menu-open {
    display: none;
    width: 29px;
    height: 29px;
    justify-content: center;
    align-items: center;
    /*margin-right: 22px;*/
}

a.mobile-menu-open span {
    position: relative;
    width: 29px;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.mobile-menu-open span:before {
    content: '';
    width: 29px;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C3B6E;
    position: absolute;
    left: 0;
    top: -10px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.mobile-menu-open span:after {
    content: '';
    width: 29px;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C3B6E;
    position: absolute;
    left: 0;
    top: 10px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.mobile-menu-open.active span {
    background: transparent;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.mobile-menu-open.active span:before {
    transform: rotate(-45deg);
    left: 0;
    top: 0;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.mobile-menu-open.active span:after {
    transform: rotate(45deg);
    left: 0;
    top: 0;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.mobile-menu {
    width: 100%;
    max-width: 992px;
    height: 100%;
    background: #FFFFFF;
    position: fixed;
    top: 65px;
    left: inherit;
    right: -992px;
    z-index: 4;
    padding: 20px;
    overflow-y: auto;
}

.mobile-menu.active {
    right: 0;
    box-shadow: 25px 15px 45px -25px rgba(0, 0, 0, .25);
}

.mobile-menu-content {
    width: 100%;
    height: 100%;
}

.mobile-menu a.head__call {
    display: flex;
    margin-bottom: 20px;
}

.mobile-menu a.head__meet {
    display: flex;
    margin-bottom: 20px;
}

.mobile-menu a.head__button {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mobile-menu-list .menu__text ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mobile-menu-list .menu__text ul li {
    margin-right: 0;
    margin-bottom: 15px;
}

.mobile-menu-list .menu__text ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_menu_link.active svg {
    transform: rotate(-90deg);
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.mobile-menu-list .menu__icon ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#m-sub_menu_link-ul-1,
#m-sub_menu_link-ul-2,
#m-sub_menu_link-ul-3 {
    background: #3c3b6e;
    width: 100%;
}


.sub_menu_link-ul,
.sub_menu_link-ul {
    z-index: -1;
    position: absolute;
}

.sub_menu_link-ul.active,
.sub_menu_link-ul.active {
    z-index: 1;
    position: relative;
}

.mobile-menu-list .sub_menu_link-ul.active {
    width: 100% !important;
    margin-top: 10px !important;
}

.mobile-menu-list .sub_menu_link-ul.active {
    width: 100% !important;
    margin-top: 10px !important;
}

#contain-slide {
    display: none;
}

