/* Header */
.header_contain {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}

.main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 90px;
}

a.head__call {
    display: flex;
    align-content: center;
    height: auto;
    min-height: 36px;
}

.head__call_ico {
    margin-right: 15px;
}

.head__call_number {
    display: flex;
    flex-direction: column;
}

.head__call_number span:nth-child(1) {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-top: -2px;
    margin-bottom: 2px;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__call_number span:nth-child(2) {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #3C3B6E;
    margin-top: 2px;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__call_ico svg path {
    fill: #3C3B6E;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__call:hover .head__call_ico svg path {
    fill: #B22234;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__call:hover .head__call_number span:nth-child(1) {
    color: #BDBDBD;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__call:hover .head__call_number span:nth-child(2) {
    color: #B22234;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__meet {
    display: flex;
    align-content: center;
    height: auto;
    min-height: 36px;
}

.head__meet_ico {
    margin-right: 15px;
}

.head__meet_addr {
    display: flex;
    flex-direction: column;
}

.head__meet_addr-head {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-top: -2px;
    margin-bottom: 2px;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__meet_addr-text span:nth-child(1) {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: capitalize;
    color: #3C3B6E;
    margin-top: 2px;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__meet_addr-text span:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: capitalize;
    color: #3C3B6E;
    margin-top: 2px;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__meet_ico svg path {
    fill: #3C3B6E;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__meet:hover .head__meet_ico svg path {
    fill: #B22234;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__meet:hover .head__meet_addr-head {
    color: #BDBDBD;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__meet:hover .head__meet_addr-text span:nth-child(1) {
    color: #B22234;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__meet:hover .head__meet_addr-text span:nth-child(2) {
    color: #3C3B6E;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    max-width: 275px;
    min-width: 155px;

    background: #FFFFFF;

    border: 2px solid #EEB300;
    box-sizing: border-box;
    border-radius: 1px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    text-transform: capitalize;
    color: #3C3B6E;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__button:hover {
    background: #EEB300;
    border: 2px solid #EEB300;
    color: #fff;
    box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, 0.2);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/*Start form*/

.contain-start {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    min-height: 550px;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 550px;
}

.start h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 15px;
}

.start h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.start form {
    width: 100%;
    max-width: 730px;
}

.form-row .col-deliver:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-row .col-deliver:nth-child(2) {
    background: #f5f5f5;
}

.col-deliver {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 60px;
    padding: 8px 8px 8px 39px !important;
    width: 37%;
}

.deliver-label {
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #191C2F;
    opacity: 0.5;
}

.deliver-input {
    padding: 0;
    border: none;
    background: transparent;
}

.col-deliver-btn {
    width: 26%;
    height: 60px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.deliver-btn {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: radial-gradient(73.27% 514.54% at 24.53% 34.17%, #23234A 0%, #3C3B6E 100%);

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.deliver-btn:hover {
    background: radial-gradient(100% 940.44% at 0% 0%, #B22234 0%, #DA2C42 100%);
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.deliver-btn:before {
    content: url("../img/bg-deliver-btn.svg");
    position: absolute;
    top: 0;
    right: 0;
}

/* Top Review */
.contain-reviews {
    background: #F9F9FE;
}

.carousel-reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviews_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 255px;
    min-height: 126px;
    margin: 100px 30px;
    position: relative;
}

.reviews_block .img_review {
    width: auto !important;
    max-width: 109px;
    height: auto;
    max-height: 45px;
    margin-bottom: 35px;
}

.reviews_block .text_review {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #3C3B6E;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
}


/* Our team section - main page */

.our_team__section {
    margin-top: 100px;
    margin-bottom: 71px;
}

.our_team__section-bg {
    background: #F9F9FE;
    height: auto;
    min-height: 500px;
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}

.our_team__left {
    width: 100%;
    height: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
}

.our_team__left h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: 40px;
    color: #191C2F;
    margin-bottom: 15px;
}

.our_team__left h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #191C2F;
    margin-bottom: 30px;
}

.our_team__left p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    margin-bottom: -1px;
}

.our_team_right {
    box-shadow: -25px 0px 45px -25px rgba(0, 0, 0, 0.25);
}

/*Our Blog*/
.contain-our_blog {
    padding: 100px 0;
}

.our__blog_name h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-bottom: 15px;
}

.our__blog_head h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #191C2F;
}

.our__blog_text {
    width: 100%;
    height: auto;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
}

.our__blog_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #191C2F;
    margin-bottom: 5px;
}

.contain-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
}

a.preview {
    position: relative;
    width: 25%;
    height: auto;
    min-height: 400px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 65px 28px 20px;
    transition: .3s cubic-bezier(.25, .1, .25, 1);
    background-size: calc(100% - 5px) !important;
}

a.preview:hover {
    backdrop-filter: blur(4px);
    background-size: calc(100% - 15px) !important;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.preview__date {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #191C2F;

    position: absolute;
    top: 0;
    left: 0;
}

a.preview h2 {
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 30px;
}

a.preview h2:before {
    content: '';
    width: 200px;
    height: 1px;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
}

a.preview p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    z-index: -1;
    opacity: 0;
    height: 0;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.preview:hover p {
    z-index: 1;
    opacity: 1;
    height: 100%;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.learn-more {
    position: absolute;
    z-index: -1;
    opacity: 0;
    bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.preview:hover .learn-more {
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}


/*Get instant section*/

.get_install__section{
    width: 100%;
    height: auto;
    min-height: 300px;
    background-image: url(/img/get-instant-bg.jpg);
    background-position: top, center;
    background-repeat: no-repeat;
}

.get_instant__text{
    width: 100%;
    min-width: 520px;
    height: 100%;
    min-height: 300px;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.get_instant_btn{
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.get_instant_btn_calc{
    width: 275px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #3C3B6E;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    transition: .3s cubic-bezier(.25,.1,.25,1);
}

.get_instant_btn_calc:hover{
    background:#EEB300;
    color: #ffffff;
    transition: .3s cubic-bezier(.25,.1,.25,1);
}

.get_instant_btn_call{
    width: 260px;
    height: 60px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    transition: .3s cubic-bezier(.25,.1,.25,1);
}

.get_instant_btn_call:hover{
    background:#ffffff;
    color: #3C3B6E;
    transition: .3s cubic-bezier(.25,.1,.25,1);
}
