/* Header */
.header_contain {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}

.main_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 90px;
}

a.head__call {
    display: flex;
    align-content: center;
    height: auto;
    min-height: 36px;
}

.head__call_ico {
    margin-right: 15px;
}

.head__call_number {
    display: flex;
    flex-direction: column;
}

.head__call_number span:nth-child(1) {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-top: -2px;
    margin-bottom: 2px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__call_number span:nth-child(2) {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #3C3B6E;
    margin-top: 2px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__call_ico svg path {
    fill: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__call:hover .head__call_ico svg path {
    fill: #B22234;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__call:hover .head__call_number span:nth-child(1) {
    color: #BDBDBD;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__call:hover .head__call_number span:nth-child(2) {
    color: #B22234;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__meet {
    display: flex;
    align-content: center;
    height: auto;
    min-height: 36px;
}

.head__meet_ico {
    margin-right: 15px;
}

.head__meet_addr {
    display: flex;
    flex-direction: column;
}

.head__meet_addr-head {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-top: -2px;
    margin-bottom: 2px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__meet_addr-text span:nth-child(1) {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: capitalize;
    color: #3C3B6E;
    margin-top: 2px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__meet_addr-text span:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: capitalize;
    color: #3C3B6E;
    margin-top: 2px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.head__meet_ico svg path {
    fill: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__meet:hover .head__meet_ico svg path {
    fill: #B22234;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__meet:hover .head__meet_addr-head {
    color: #BDBDBD;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__meet:hover .head__meet_addr-text span:nth-child(1) {
    color: #B22234;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__meet:hover .head__meet_addr-text span:nth-child(2) {
    color: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    max-width: 275px;
    min-width: 155px;

    background: #FFFFFF;

    border: 2px solid #EEB300;
    box-sizing: border-box;
    border-radius: 1px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    text-transform: capitalize;
    color: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.head__button:hover {
    background: #EEB300;
    border: 2px solid #EEB300;
    color: #fff;
    box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, 0.2);
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

/*Start form*/

.contain-start {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    min-height: 550px;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 550px;
}

.start h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.start h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 15px;
}

.start.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start.text-center h1,
.start.text-center h2 {
    text-align: center;
}

.start form {
    width: 100%;
    max-width: 730px;
}

.form-row .col-deliver:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form-row .col-deliver:nth-child(2) {
    background: #f5f5f5;
}

.col-deliver {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 60px;
    padding: 8px 8px 8px 39px !important;
    width: 37%;
}

.deliver-label {
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #191C2F;
    opacity: 0.5;
}

.deliver-input {
    padding: 0;
    border: none;
    background: transparent;
}

.col-deliver-btn {
    width: 26%;
    height: 60px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.deliver-btn {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: radial-gradient(73.27% 514.54% at 24.53% 34.17%, #23234A 0%, #3C3B6E 100%);

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    position: relative;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.deliver-btn:hover {
    background: radial-gradient(100% 940.44% at 0% 0%, #B22234 0%, #DA2C42 100%);
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.deliver-btn:before {
    content: url("../img/bg-deliver-btn.svg");
    position: absolute;
    top: 0;
    right: 0;
}

/* Top Review */
.contain-reviews {
    background: #F9F9FE;
}

.carousel-reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.reviews_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 255px;
    min-height: 126px;
    margin: var(--main-padding) 30px;
    position: relative;
}

.reviews_block .img_review {
    width: auto !important;
    max-width: 109px;
    height: auto;
    max-height: 45px;
    margin-bottom: 35px;
}

.reviews_block .text_review {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #3C3B6E;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
}

/*Our Blog*/
.contain-our_blog {
    padding: var(--main-padding) 0;
}

.our__blog_name h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-bottom: 15px;
}

.our__blog_head h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #191C2F;
}

.our__blog_text {
    width: 100%;
    height: auto;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
}

.our__blog_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #191C2F;
    margin-bottom: 5px;
}

.contain-preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
}

a.preview {
    position: relative;
    width: 25%;
    height: auto;
    min-height: 400px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 65px 28px 20px;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
    background-size: calc(100% - 5px) !important;
}

a.preview:hover {
    backdrop-filter: blur(4px);
    background-size: calc(100% - 15px) !important;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.preview__date {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #191C2F;

    position: absolute;
    top: 0;
    left: 0;
}

a.preview h2 {
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 30px;
}

a.preview h2:before {
    content: '';
    width: 200px;
    height: 1px;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
}

a.preview p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    z-index: -1;
    opacity: 0;
    height: 0;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.preview:hover p {
    z-index: 1;
    opacity: 1;
    height: 100%;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.learn-more {
    position: absolute;
    z-index: -1;
    opacity: 0;
    bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

a.preview:hover .learn-more {
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}


/*Get instant section*/

.get_install__section {
    width: 100%;
    height: auto;
    min-height: 300px;
    background-image: url(../img/get-instant-bg.jpg);
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.get_instant__text {
    width: 100%;
    min-width: 520px;
    height: 100%;
    min-height: 300px;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.get_instant_btn {
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.get_instant_btn_calc {
    width: 275px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #3C3B6E;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

.get_instant_btn_calc:hover {
    background: #EEB300;
    color: #ffffff;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

.get_instant_btn_call {
    width: 260px;
    height: 60px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

.get_instant_btn_call:hover {
    background: #ffffff;
    color: #3C3B6E;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

/*Our reviews*/
.contain-our_reviews {
    padding: var(--main-padding) 0;
    background: #F9F9FE;
}

.our__reviews_name h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-bottom: 15px;
}

.our__reviews_head h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #191C2F;
}

.our__reviews_text {
    width: 100%;
    height: auto;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
}

.our__reviews_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #191C2F;
    margin-bottom: 5px;
}

.carousel-reviews2 {
    margin-top: 60px;
    width: calc(100% + 74px) !important;
    margin-left: -37px;
}

.reviews_block2 {
    padding: 23px;
    background: #fff;
}

.reviews__star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reviews__star img {
    width: 17px !important;
    height: auto;
    margin-right: 10px;
}

.reviews__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 25px;
}

.reviews__name {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #33475B;
    margin-top: 25px;
}

.reviews__position {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #33475B;
}

.reviews__logo {
    margin-top: 6px;
    display: flex;
    justify-content: flex-end;
}

.reviews__logo img {
    width: inherit !important;
}

/*Our services*/
.contain-our_services {
    padding: var(--main-padding) 0;
}

.our__services_name h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-bottom: 15px;
}

.our__services_head h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #191C2F;
}

.our__services_text {
    width: 100%;
    height: auto;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
}

.our__services_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #191C2F;
    margin-bottom: 5px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

a.services__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(33.3333% - 2px);
    margin: 1px;
    height: auto;
    min-height: 250px;
    padding: 35px;
    border: 0 solid #FFFFFF;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    z-index: 0;
    overflow: hidden;

    transition: .5s cubic-bezier(.25, .1, .25, 1);

}

a.services__link:hover {
    border: 13px solid #FFFFFF;
}

.services__link_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;

    background: linear-gradient(0deg, rgba(60, 59, 110, 0.9), rgba(60, 59, 110, 0.9));

    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

a.services__link:hover .services__link_overlay {
    opacity: 1;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

.services__link_head {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 0;
    z-index: 2;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

a.services__link:hover .services__link_head {
    font-size: 20px;
    margin-bottom: 30px;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

.services__link_text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
    z-index: -1;
    height: 0;
    opacity: 0;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

a.services__link:hover .services__link_text {
    z-index: 2;
    height: auto;
    opacity: 1;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}


/*Why us section*/

.why_us__text {
    width: 100%;
    height: 100%;
    min-height: 350px;
    background-image: url(../img/why-us-bg.jpg);
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.why_us__text_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    min-height: 350px;
    width: 100%;
    max-width: 460px;
}

.why_us__text_left h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.why_us__text_left h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.why_us__text_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    min-height: 350px;
    width: 100%;

}

.why_us__text_right p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 0px;
    max-width: 550px;
}

.why_us__advantages {
    margin-bottom: var(--main-padding);
}

.why_us_item_wrap {
    margin-top: var(--main-padding);
}

.why_us__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100%;
    min-height: 270px;
    width: 260px;
    position: relative;
}

.why_us__item_ico {
    margin-bottom: 35px;
}

.why_us__item_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
}

.why_us__item_text h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.why_us__item_text p {
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    color: #191C2F;
    text-align: center;
    margin-bottom: 0;
}


/* Types of delivery */

.tabs {
    margin-top: 66px;
}

#pills-tab .nav-item {
    border-bottom: 3px solid #d3d3e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.tabs-link {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 220%;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #77769A;
    margin-bottom: 15px;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
    padding: 0 21px;
}

a.tabs-link:hover {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    transition: .5s cubic-bezier(.25, .1, .25, 1);
}

.tabs-link.active {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
}

.tabs-link.active::before {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: #3c3b6e;
    position: absolute;
    top: 50px;
    left: 0;
}

.tabs__content {
    margin-top: 50px;
    display: flex;
}

.tabs__content_info {
    padding-right: 40px;
    height: auto;
    min-height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs__content_info-head h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    color: #3C3B6E;
}

.tabs__content_info-text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 30px;
}

.contain-info-link {
    position: relative;
    height: auto;
    min-height: 50px;
    border-top: 1px solid #3C3B6E;
    display: flex;
    align-items: center;
}

.tabs__content_imag img {
    box-shadow: 25px 15px 45px -25px rgba(0, 0, 0, 0.25);
}

/* Our Company */

.our_company__section {
    margin-top: var(--main-padding);
    margin-bottom: var(--main-padding);
}

/* .our_company__border{
    border-top:1px solid #3C3B6E;
} */

.our_company__img {
    box-shadow: 35px 0px 45px -25px rgba(0, 0, 0, 0.25);
}

.our_company__img img {
    width: 100%;
    height: auto;
}

.our_company__text {
    position: relative;
}

.our_company__text::before {
    content: '';
    width: calc(100% + 40px);
    height: 1px;
    display: block;
    position: absolute;
    top: -50px;
    left: -40px;
    background: #3C3B6E;
}

.our_company__text h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 40px;
    color: #191C2F;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin-top: 50px;
}

.our_company__text h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #191C2F;
    width: 100%;
    margin-bottom: 30px;
}

.our_company__text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #191C2F;
}

.inner_link_block {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3C3B6E;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 50px;
    border-top: 1px solid #3C3B6E;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.our_company__link {
    width: 60%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #3c3b6e;
    margin-top: 30px;
    float: right;
}

/* How It Works */
.contain-our_works {
    padding: var(--main-padding) 0;
}

.our__reviews_name h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    margin-bottom: 15px;
}

.our__works_head h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #191C2F;
}

.our__works_text {
    width: 100%;
    height: auto;
    min-height: 150px;
    display: flex;
    align-items: flex-end;
}

.our__works_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #191C2F;
    margin-bottom: 5px;
}

.step {
    margin-top: 50px;
}

.step__name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.step__name_img {
    margin-right: 50px;
}

.step__name_txt-name {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3C3B6E;
}

.step__name_txt-head {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    color: #191C2F;
    margin-top: 15px;
}

.step__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 30px;
}

.step__link {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #3C3B6E;
    margin-top: 30px;
}

.step__link_info a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3c3b6e;
    display: flex;
    align-items: center;
}

.step__link_info-text {
    margin-right: 30px;
    font-weight: 400;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.step__link_info:hover .step__link_info-text {
    font-weight: 600;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.step__link_info-icon {
    width: 60px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #3C3B6E;
    border-right: 1px solid #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.step__link_info-icon svg path {
    stroke: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.step__link_info a:hover .step__link_info-icon {
    background: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.step__link_info a:hover .step__link_info-icon svg path {
    stroke: #FFFFFF;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.back_to_top {
    width: 100%;
    max-width: 160px;
    height: 78px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10%;
    color: #FFFFFF;
    background: rgba(60, 59, 110, 0.2);
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.back_to_top span {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 10px;
}

.back_to_top:hover {
    background: #EEB300;
    color: #ffffff;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.owl-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin-top: 30px;
}

.owl-nav:before {
    content: url("../img/ico-swipe-content.svg");
    position: absolute;
    top: 0;
    left: calc(50% - 65px);
}

.carousel-types-of-delivery .owl-item img {
    width: auto;
}

.container.border_top {
    position: relative;
}

/*advantages*/

.advantages-contain {
    padding: var(--main-padding) 0 0;
}

.advantages {
    margin-bottom: var(--main-padding);
}

.advantages_text h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    color: #191C2F;
    margin-top: 35px;
}

.advantages_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 15px;
}

/*paper*/
.paper-contain {
    padding: var(--main-padding) 0;
}

.paper {
    display: flex;
    flex-wrap: wrap;
}

.paper:nth-child(2n) {
    flex-direction: row-reverse;
}

.paper__info {
    padding: 80px;
    background: #F9F9FE;
    display: flex;
    flex-direction: column;
    width: calc(100% - 580px);
}

.paper__info h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
}

.paper__info h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #191C2F;
    margin-top: 15px;
}

.paper__info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 30px;
}

.paper__imag {
    display: block;
    width: 100%;
    max-width: 580px;
    height: auto;
    min-height: 500px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*clause*/
.clause-contain {
    padding: var(--main-padding) 0;
}

.clause {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.clause:last-child {
    margin-bottom: 0;
}

.clause:nth-child(2n) {
    flex-direction: row-reverse;
}

.clause__info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 560px);
    padding-left: 40px;
}

.clause__info h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
}

.clause__info h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #191C2F;
    margin-top: 15px;
}

.clause__info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #191C2F;
    margin-top: 30px;
}

.clause__imag {
    display: block;
    width: 100%;
    max-width: 560px;
    height: auto;
    min-height: 500px;
    box-shadow: 35px 0px 45px -25px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.clause:nth-child(2n) .clause__info {
    padding-right: 40px;
    padding-left: 0;
}

/*grey__block*/
.grey__block-contain {
    padding: var(--main-padding) 0;
    height: auto;
    min-height: 500px;
}

.grey__block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    min-height: 500px;
}

.grey__block.changeling {
    flex-direction: row-reverse;
}

.grey__block_info {
    background: #F9F9FE;
    padding: 84px;
    width: calc(100% - 665px);
    height: 100%;
    min-height: 500px;
}

.grey__block_info h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
}

.grey__block_info h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #191C2F;
    margin-top: 15px;
}

.grey__block_info p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 30px;
}


.grey__block_imag {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: block;
    width: 100%;
    max-width: 665px;
    height: 100%;
    min-height: 500px;

    box-shadow: -25px 0px 45px -25px rgba(0, 0, 0, 0.25);
}


/*blog-contain*/
.blog-contain {
    padding: var(--main-padding) 0;
    background: #F9F9FE;
}

/*foot_bread_crumbs*/
.foot_bread_crumbs {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot_bread_crumbs ul {
    margin: 0;
    padding: 0 0 13px 0;
    display: flex;
    border-bottom: 1px solid #191C2F;
}

.foot_bread_crumbs ul li {
    position: relative;
    list-style-type: none;
    margin: 15px;
}

.foot_bread_crumbs ul li a {
    position: relative;
    top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #191C2F;
    text-decoration: none;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.foot_bread_crumbs ul li a.active {
    color: #B22234;
    top: -7px;
}

.foot_bread_crumbs ul li a:hover {
    top: -7px;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.foot_bread_crumbs ul li:first-child {
    margin-right: 50px;
}

.foot_bread_crumbs ul li:first-child a:hover {
    top: 0;
}

.foot_bread_crumbs ul li:first-child:before {
    content: url("../img/bread_crumbs_prev.svg");
    position: absolute;
    top: -1px;
    left: -15px;
}

.foot_bread_crumbs ul li:last-child {
    margin-left: 50px;
}

.foot_bread_crumbs ul li:last-child a:hover {
    top: 0;
}

.foot_bread_crumbs ul li:last-child:before {
    content: url("../img/bread_crumbs_next.svg");
    position: absolute;
    top: -1px;
    right: -15px;
}

/*post*/
.share__post {
    width: 100%;
    border-top: 1px solid #3C3B6E;
    padding: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: #3C3B6E;
    margin-top: 35px;
}

.share__post a {
    margin: 0 12px;
}

.share__post a:first-child {
    margin-left: 50px;
}

.share__post a svg path {
    fill: #3C3B6E;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.share__post a:hover svg path {
    fill: #B22234;
    transition: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.contain-post-head {
    background: #F9F9FE;
    padding: 30px 0 125px;
}

.post__breadcrumbs ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.post__breadcrumbs ul li {
    position: relative;
    margin-right: 74px;
    list-style-type: none;
}

.post__breadcrumbs ul li:before {
    content: url(../img/ico-breadcrumbs.svg);
    position: absolute;
    top: 7px;
    right: -45px;
}

.post__breadcrumbs ul li:last-child:before {
    content: none;
}

.post__breadcrumbs ul li a {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 220%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #191C2F;
    text-decoration: none;
}

.post__breadcrumbs ul li:last-child a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #191C2F;
    text-transform: inherit;
    text-decoration: none;
    margin-top: 8px;
    display: inline-flex;
    letter-spacing: inherit;
}

.post__head h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #191C2F;
    margin-top: 50px;
}

.post__date {
    min-height: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.post__image {
    position: relative;
    top: -100px;
    margin-bottom: -50px;
}

.post h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    color: #191C2F;
}

.post h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 75px;
}

.post h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #191C2F;
    margin-top: 25px;
}

.post h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #191C2F;
    margin-top: 75px;
}

.post p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 25px;
}

.post img {
    margin: 25px 0 50px;
}

.post ol {
    padding: 20px 25px;
}

.post ol li {
    position: relative;
    padding: 0 0 0 17px;
    margin-bottom: 30px;
    margin-left: 20px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #191C2F;
}

.post ol li::marker {
    position: absolute;
    top: 0;
    left: 20px;
}

.post ol li:last-child {
    margin-bottom: 0;
}

.post q {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #191C2F;
    margin-top: 25px;
}

/*sidebar form*/
.sidebar__form {
    position: relative;
    padding: 44px 18px 28px;
    background: #F9F9FE;
    margin-bottom: 20px;
}

.sidebar__form:before {
    content: '';
    width: 75px;
    height: 3px;
    background: #B22234;
    position: absolute;
    top: 44px;
    left: calc(50% - 37px);
    display: block;
}

.sidebar__form_head {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #3C3B6E;
    margin-top: 20px;
}

.sidebar__form_slag {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #3C3B6E;
    margin-top: 20px;
    padding: 0 27px;
}

.sidebar__form_form {
    margin-top: 35px;
}

.sidebar__form_form form {
    background: #3C3B6E;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar__form_form form .form-group {
    width: 100%;
    margin-bottom: 2px;
}

input.sidebar-control {
    width: 100%;
    height: 65px;
    background: #62618b;
    border: none;
    padding: 20px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
}

input.sidebar-control::-webkit-input-placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
}

input.sidebar-control::-moz-placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
}

/* Firefox 19+ */
input.sidebar-control:-moz-placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
}

/* Firefox 18- */
input.sidebar-control:-ms-input-placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.5;
}

.sidebar__form_form form button {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #3C3B6E;
}

.sidebar__form_form a {
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.15em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*sidebar menu*/
.sidebar__menu {
    padding: 35px 40px 46px;
    background: #F9F9FE;
    margin-bottom: 20px;
}

.sidebar__menu_head {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #3C3B6E;
}

.sidebar__menu_link {
    margin-top: 35px;
}

.sidebar__menu_link ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar__menu_link ul li {
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.sidebar__menu_link ul li:last-child{
    margin-bottom: 0;
}

.sidebar__menu_link ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    text-transform: capitalize;
    color: #3C3B6E;
    text-decoration: none;
}